<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<header><h1 th:text="${userN}"></h1></header>
<div class="AddPost">
    <h2>Add Post</h2>
    <form action="/" method="post">
        <label >UserName: </label>
        <input type="text" name="username" th:value="${userN}" required readonly/><br>
        <label>Write your post: </label><br>
        <input type="text" name="TextContent">
        <button type="submit" >Submit</button>
    </form>
</div>
<br><br>
<h2>Posts</h2>
<div class="posts">
    <div class="card" th:each="postElement : ${postsList}">
        <h3 th:text="${userN}"></h3>
        <div>
            <p th:text="${postElement.TextContent}"></p>
        </div>
    </div>
</div>
</body>
</html>